root = true
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use single quotes in JavaScript/TypeScript files
[*.{js,jsx,ts,tsx}]
quote_type = single

# JSON file specific settings
[*.json]
indent_size = 2

# Config files specific settings
[{package.json, .babelrc, .eslintrc, .prettierrc}]
indent_size = 2
