# Handle line endings for all text files
* text=auto eol=lf

# Frontend-specific text files
* .jsx text eol=lf
* .tsx text eol=lf
* .js text eol=lf
* .ts text eol=lf
* .css text eol=lf
* .svg text eol=lf

# Backend-specific text files
* .env text eol=lf
* .cjs text eol=lf
* .mjs text eol=lf

# Ensure lockfiles don't get messed up
package-lock.json text eol=lf
yarn.lock text eol=lf

# Mark data as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary